body {
  height: 100%;
  background: #333;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background-color: #27c6ff;
  border-bottom: #13637f 3px solid;
  opacity: 0.9;
}

.navbar .container .navbar-toggler {
  border-color: blue;
}

.navbar .container .collapse ul li a {
  color: #13637f;
}

footer {
  margin-top: -150px;
  background-color: #1a1a1a;
  height: 150px;
}

footer .container,
footer #footPos {
  height: 100%;
}

#home-section {
  background: url("../img/jumbotron.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  height: 100vh;
}

#home-section .dark-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
}

#home-section .dark-overlay .home-inner {
  padding-top: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home-section .dark-overlay .home-inner .container {
  margin: auto;
}

#col-content {
  background: url("../img/colleges.jpeg") no-repeat;
  background-size: cover;
  background-position: 40% 18%;
  height: 50vh;
}

#col-content a {
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

#col-content a .dark-overlay2 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

#col-content a .dark-overlay2 h1,
#col-content a .dark-overlay2 p {
  color: #fff;
}

#res-content {
  margin-bottom: 150px;
  background: url("../img/resources.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  height: 50vh;
  border-bottom: #13637f 3px solid;
}

#res-content a {
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
  color: #fff;
}

#res-content a .dark-overlay2 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

#res-content a .dark-overlay2 h1,
#res-content a .dark-overlay2 p {
  color: #fff;
}

#collegeTab {
  margin-bottom: 150px;
}

#collegeTab #widthPos {
  width: 90%;
  margin: auto;
}

#collegeTab #widthPos nav {
  padding-top: 75px;
}

#collegeTab .tabHead {
  width: 90%;
  margin: auto;
}

#collegeTab table {
  width: 90%;
  margin: auto;
}

#collegeTab table thead tr th {
  padding-right: 50%;
}

.collegePage {
  margin-top: 60px;
  margin-bottom: 150px;
}

.collegePage .top .container-fluid {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.collegePage .top .container-fluid .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collegePage .top .container-fluid .content1 img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 20px 40px 20px 10px;
}

.collegePage .top .container-fluid .content1 .content2 {
  max-width: 700px;
  margin: 20px 0;
}

.about {
  padding-top: 20px;
  padding-bottom: 20px;
}

#resources {
  height: 100%;
  margin-bottom: 200px;
}

#resources .container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#resources .container .card {
  width: 300px;
  margin: 20px;
}

#resources .container .card .card-title {
  width: 75%;
  margin-right: 0;
  display: inline-block;
}

#resources .container .card .fas {
  color: #343a40;
}

#resources .container .nav-item {
  border-bottom: 1px solid #343a40;
}

.registration {
  margin-top: 100px;
  margin-bottom: 200px;
}

.registration #login form,
.registration #signup form {
  margin-left: auto;
  margin-right: auto;
}

.registration #login form .form-control,
.registration #signup form .form-control {
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */