//COLLEGE PAGES
.collegePage {
    margin-top: 60px;
    margin-bottom: 150px;

    .top {
        .container-fluid {
            background-color: rgba(0, 0, 0, 0.5);
            height: 100%;

            .content1 {
                display: flex;
                flex-wrap: wrap;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    margin: 20px 40px 20px 10px;
                }

                .content2 {
                    max-width: 700px;
                    margin: 20px 0;
                }
            }
        }
    }
}

.about {
    padding-top: 20px;
    padding-bottom: 20px;
}