.registration {
    margin-top: 100px;
    margin-bottom: 200px;

    #login,
    #signup {
        form {
            margin: {
                left: auto;
                right: auto;
            }

            .form-control {
                margin-bottom: 20px;
            }
        }
    }

}