#signup {
    height: 100vh;

    form {
        margin: {
            left: auto;
            right: auto;
        }

        max-width: 500px;

        .form-control {
            margin-bottom: 10px;
        }
    }
}