//HOME
#home-section {
    background: url("../img/jumbotron.jpg") no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;

    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        width: 100%;
        height: 100%;

        .home-inner {
            padding-top: 150px;
            height: 100%;
            display: flex;

            .container {
                margin: auto;
            }
        }
    }
}